<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="resources/templates/css/normalize.css" />
    <link rel="stylesheet" href="resources/templates/css/styles.css" />
    <title>Sign In Form</title>
  </head>
  <body>
    <h1 class="welcome">Please Sign In</h1>
    <form class="form" action method="POST">
      <input
        type="email"
        placeholder="Email adress"
        autofocus
        minlength="5"
        maxlength="255"
      />
      <input
        type="password"
        placeholder="Password"
        minlength="6"
        maxlength="20"
      />
      <input type="checkbox" id="rememberme" />
      <label for="rememberme">Remember Me</label>
      <button>Sign In</button>
    </form>
  </body>
</html>
